// HOME COLORS
$card-home-color: linear-gradient(to bottom right, rgba(103, 185, 154, 1), rgba(86, 171, 145, 0));
$home-color: #035A5A;
$buttons: #56AB91;
$link-text-color: #fff;
$overlay-color: #fff;

// MOOD BEER PARTY
$background-beer-party: rgba(255, 167, 33, 1);
$beer-party: linear-gradient(to bottom right, rgb(248, 219, 157), $background-beer-party);
$shadow-beer-party: 0 4px 44px 2px rgba(150, 102, 30, 0.753);
$buttons-beer-party: rgb(207, 138, 33);
$hover-beer-party: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, ($buttons-beer-party) 50%);

// MOOD HISTORY
$background-history: rgb(122, 98, 78);
$history: linear-gradient(to bottom right, rgb(175, 155, 134), $background-history);
$shadow-history: 0 4px 44px 2px rgba(112, 84, 61, 0.753);
$buttons-history: rgb(99, 75, 57);
$hover-history: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-history 50%);

// MOOD THRILLER
$background-thriller: rgba(26, 27, 26, 1);
$thriller: linear-gradient(to bottom right, rgba(169, 170, 169, 1), $background-thriller);
$shadow-thriller: 0 4px 44px 2px rgba(51, 53, 51, 0.753);
$buttons-thriller: rgb(53, 53, 53);
$hover-thriller: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-thriller 50%);

// MOOD KIS FRIENDLY
$background-kids: rgb(145, 166, 187);
$kids: linear-gradient(to bottom right, rgb(233, 184, 179), $background-kids);
$shadow-kids: 0 4px 44px 2px rgba(119, 124, 129, 0.753);
$buttons-kids: rgb(112, 149, 189);
$hover-kids: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-kids 50%);

// MOOD ADVENTURE
$background-adventure: rgb(147, 168, 70);
$adventure: linear-gradient(to bottom right, rgb(201, 255, 139), $background-adventure);
$shadow-adventure: 0 4px 44px 2px rgba(148, 131, 69, 0.753);
$buttons-adventure: rgb(98, 200, 95);
$hover-adventure: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-adventure 50%);

// MOOD COCOONING
$background-cocooning: rgb(160, 88, 43);
$cocooning: linear-gradient(to bottom right, rgb(209, 158, 121), $background-cocooning);
$shadow-cocooning: 0 4px 44px 2px rgba(133, 71, 33, 0.753);
$buttons-cocooning: rgb(122, 67, 33);
$hover-cocooning: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-cocooning 50%);

// MOOD ICECREAM
$background-icecream: rgb(97, 163, 158);
$icecream: linear-gradient(to bottom right, rgb(196, 212, 181), $background-icecream);
$shadow-icecream: 0 4px 44px 2px rgba(110, 150, 140, 0.753);
$buttons-icecream: rgb(97, 141, 131);
$hover-icecream: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-icecream 50%);

// MOOD HORROR
$background-horror: rgb(32, 25, 21);
$buttons-horror: rgb(53, 19, 9);
$shadow-horror: 0 4px 44px 2px rgba(19, 7, 4, 0.753);
$hover-horror: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, $buttons-horror 50%);
$horror: linear-gradient(to bottom right, rgb(150, 42, 27), $background-horror);

// $card-home-color: linear-gradient(to bottom right, rgba(103, 185, 154, 1), rgba(86, 171, 145, 0));
// $beer-party: linear-gradient(to bottom right, rgb(248, 219, 157), $background-beer-party);
// $history: linear-gradient(to bottom right, rgba(249, 207, 161, 1), $background-history);
// $thriller: linear-gradient(to bottom right, rgba(169, 170, 169, 1), $background-thriller);
// $kids: linear-gradient(to bottom right, rgb(233, 184, 179), $background-kids);
// $adventure: linear-gradient(to bottom right, rgb(201, 255, 139), $background-adventure);
// $cocooning: linear-gradient(to bottom right, rgba(254, 162, 1, 1), $background-cocooning);
// $icecream: linear-gradient(to bottom right, rgb(196, 212, 181), $background-icecream);
// $horror: linear-gradient(to bottom right, rgb(150, 42, 27), $background-horror);

// $shadow-beer-party: 0 4px 44px 2px rgba(150, 102, 30, 0.753);
// $shadow-history: 0 4px 44px 2px rgba(128, 88, 56, 0.753);
// $shadow-thriller: 0 4px 44px 2px rgba(51, 53, 51, 0.753);
// $shadow-kids: 0 4px 44px 2px rgba(119, 124, 129, 0.753);
// $shadow-adventure: 0 4px 44px 2px rgba(148, 131, 69, 0.753);
// $shadow-cocooning: 0 4px 44px 2px rgba(143, 40, 8, 0.753);
// $shadow-icecream: 0 4px 44px 2px rgba(110, 150, 140, 0.753);
// $shadow-horror: 0 4px 44px 2px rgba(19, 7, 4, 0.753);


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
