// Variables de couleurs
$home-color: #035A5A;
$background-beer-party: rgba(255, 167, 33, 0);
$background-history: rgba(166, 114, 71, 0);
$background-thriller: rgba(26, 27, 26, 0);
$background-kids: rgba(142, 149, 156, 0);
$background-adventure: rgba(200, 178, 95, 0);
$background-cocooning: rgba(182, 50, 9, 0);
$background-icecream: rgba(162, 189, 140, 0);
$background-horror: rgba(39, 14, 7, 0);

// Set le container avec une height et une max-height pour ne pas pouvoir scroller
.main-container {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  font-family: 'Hind', sans-serif;
}

// Set le container de la question à une height pour ne pas scroller
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  margin: 0;
  width: 100vw;
  background-color: $home-color;
  font-family: 'Hind', sans-serif;
  // Changement de fond en fonction du mood
  &.beer-party{
    background-color: $background-beer-party;
  }
  &.history {
    background-color: $background-history;
  }
  &.thriller {
    background-color: $background-thriller;
  }
  &.kids {
    background-color: $background-kids;
  }
  &.adventure {
    background-color: $background-adventure;
  }
  &.cocooning {
    background-color: $background-cocooning;
  }
  &.icecream {
    background-color: $background-icecream;
  }
  &.horror {
    background-color: $background-horror;
  }
}

// Set le top de la question d'après à 100vh pour qu'il ne soit pas visible
.next-question {
  top: 100vh;
}

// Set la question actuelle à un top 0 pour qu'elle apparaisse en haut de la page
.visible-question {
  top: 0;
}
