
// Set le container avec une height et une max-height pour ne pas pouvoir scroller
.main-container {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  font-family: 'Hind', sans-serif;
}

.home-image-container {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  width: 55%;
  background-image: asset-url('ImageHome4lines.png');
  background-size: cover;
  background-position: center;


}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column !important;
  left: 18%;
  top: 180px;


}
// Set le container de la question à une height pour ne pas scroller
.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  margin: 0;
  width: 100vw;
  background-color: $home-color;
  font-family: 'Hind', sans-serif;
  transition-duration: 750ms;
  p {
    text-align: center;
  }
  // Changement de fond en fonction du mood
  &.beer-party{
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        asset-url('beerpartest.jpeg');
        background-size: cover;
    .main-card {
      background-image: $beer-party;
      box-shadow: $shadow-beer-party;
    }
    .btn-question{
      background: $buttons-beer-party;
    }
    .btn-general {
      background: $hover-beer-party;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: #ee9d25;
      box-shadow: 1px 1px 13px #CF8A20;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.history {
      background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      asset-url('history.jpeg');
      background-size: cover;
    .main-card {
      background-image: $history;
      box-shadow: $shadow-history;
    }
    .btn-question {
      background: $buttons-history;
    }
    .btn-general {
      background: $hover-history;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: #c09377;
      box-shadow: 3px 3px 13px #534033;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.thriller {
       background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
       asset-url('thriller.jpeg');
       background-size: cover;
    .main-card {
      background-image: $thriller;
      box-shadow: $shadow-thriller;
    }
    .btn-question {
      background: $buttons-thriller;
    }
    .btn-general {
      background: $hover-thriller;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: rgb(36, 35, 35);
      box-shadow: 1px 1px 13px black;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.kids {
     background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
     asset-url('kidsfriendlytest.jpeg');
     background-size: cover;
    .main-card {
      background-image: $kids;
      box-shadow: $shadow-kids;
    }
    .btn-question {
      background: $buttons-kids;
    }
    .btn-general {
      background: $hover-kids;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: #6893ac;
      box-shadow: 3px 3px 13px #424d54c2;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.adventure {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url('adventure.jpeg');
    background-size: cover;
    .main-card {
      background-image: $adventure;
      box-shadow: $shadow-adventure;
    }
    .btn-question {
      background: $buttons-adventure;
    }
    .btn-general {
      background: $hover-adventure;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: #105c0c;
      box-shadow: 3px 3px 13px #0A3B07;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.cocooning {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url('cocooning.jpeg');
    background-size: cover;
    .main-card {
      background-image: $cocooning;
      box-shadow: $shadow-cocooning;
    }
    .btn-question {
      background: $buttons-cocooning;
    }
    .btn-general {
      background: $hover-cocooning;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
      background: #b3754c;
      box-shadow: 1px 1px 13px #613f29;
    }

    label {
      height: 40px;
      line-height: 40px;
    }
  }
  &.icecream {
     background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     asset-url('icecream.jpeg');
     background-size: cover;
    .main-card {
      background-image: $icecream;
      box-shadow: $shadow-icecream;
    }
    .btn-question {
      background: $buttons-icecream;
    }
    .btn-general {
      background: $hover-icecream;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked+label {
        background: #6a835f;
        box-shadow: 3px 3px 13px #414B35;
    }

    label {
        height: 40px;
        line-height: 40px;
    }
  }
  &.horror {
       background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
       asset-url('TestHorreur.jpeg');
       background-size: cover;
    .main-card {
      background-image: $horror;
      box-shadow: $shadow-horror;
    }
    .btn-question {
      background: $buttons-horror;
    }
    .btn-general {
      background: $hover-horror;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
    .form-check-input[type="radio"]:checked + label {
      background: #6893ac;
      box-shadow: 3px 3px 13px #424d54c2;
    }

    label {
      height: 40px;
      line-height: 40px;
    }

  }
    @media (max-width: 1250px) {
    padding: 1rem 0;
  }

}

// Set le top de la question d'après à 100vh pour qu'il ne soit pas visible
.next-question {
  top: 100vh;
}

// Set la question actuelle à un top 0 pour qu'elle apparaisse en haut de la page
.visible-question {
  top: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: $home-color;
  font-family: 'Hind', sans-serif;
  &.beer-party{
        background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        asset-url('beerpartest.jpeg');
        background-size: cover;
    .main-card {
      background-image: $beer-party;
      box-shadow: $shadow-beer-party;
    }
    .btn-question{
      background: $buttons-beer-party;
    }
    .btn-general {
      background: $hover-beer-party;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
      }
    }
  }
  &.history {
      background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      asset-url('history.jpeg');
      background-size: cover;
    .main-card {
      background-image: $history;
      box-shadow: $shadow-history;
    }
    .btn-question {
      background: $buttons-history;
    }
    .btn-general {
      background: $hover-history;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.thriller {
       background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
       asset-url('thriller.jpeg');
       background-size: cover;
    .main-card {
      background-image: $thriller;
      box-shadow: $shadow-thriller;
    }
    .btn-question {
      background: $buttons-thriller;
    }
    .btn-general {
      background: $hover-thriller;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.kids {
     background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
     asset-url('kidsfriendlytest.jpeg');
     background-size: cover;
    .main-card {
      background-image: $kids;
      box-shadow: $shadow-kids;
    }
    .btn-question {
      background: $buttons-kids;
    }
    .btn-general {
      background: $hover-kids;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.adventure {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url('adventure.jpeg');
    background-size: cover;
    .main-card {
      background-image: $adventure;
      box-shadow: $shadow-adventure;
    }
    .btn-question {
      background: $buttons-adventure;
    }
    .btn-general {
      background: $hover-adventure;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.cocooning {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    asset-url('cocooning.jpeg');
    background-size: cover;
    .main-card {
      background-image: $cocooning;
      box-shadow: $shadow-cocooning;
    }
    .btn-question {
      background: $buttons-cocooning;
    }
    .btn-general {
      background: $hover-cocooning;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.icecream {
     background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     asset-url('icecream.jpeg');
     background-size: cover;
    .main-card {
      background-image: $icecream;
      box-shadow: $shadow-icecream;
    }
    .btn-question {
      background: $buttons-icecream;
    }
    .btn-general {
      background: $hover-icecream;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
  &.horror {
       background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
       asset-url('TestHorreur.jpeg');
       background-size: cover;
    .main-card {
      background-image: $horror;
      box-shadow: $shadow-horror;
    }
    .btn-question {
      background: $buttons-horror;
    }
    .btn-general {
      background: $hover-horror;
      background-size: 200% 100%;
      background-position: right bottom;
      padding: 0px;
      &:hover {
        color: white;
        transition-duration: 500ms;
        background-position: left bottom;
  }
    }
  }
}
