// Checkboxes moods
.hiddenbox {
  position: absolute;
  transform: scale(0);
}

.hiddenbox:checked + label {
  display: block;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.3);
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 4px 20px 2px rgb(154, 168, 164);
  &:hover {
    background-color: transparent;
    box-shadow: 0 4px 20px 2px rgb(154, 168, 164);
  }
}

// Mood random
.random-mood {
  position: absolute;
  transform: scale(0);
}
.random-mood:checked + label {
  display: block;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.3);
  border-radius: 10px;
  opacity: 1;
  &:hover {
    background-color: transparent;
  }
}

// Card des moods avec photos
.mood-card {
  .mood_beer_party {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), asset-url('beerparty.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('beerparty.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_history {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), asset-url('history.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('history.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_thriller {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('thriller.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('thriller.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_cocooning {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('cocooning.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('cocooning.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_adventure {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('adventure.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 37px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('adventure.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_horror {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('horror.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('horror.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_icecream {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('icecream.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('icecream.jpeg');
      label {
        color: transparent;
      }
    }
  }
  .mood_kids {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('kidsfriendly.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('kidsfriendly.jpeg');
      label {
        color: transparent;
      }
    }
  }
  fieldset {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .mood_random {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('kidsfriendly.jpeg');
    background-size: cover;
    background-position: center;
    transition: all 250ms ease;
    width: 242px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    label {
      opacity: 1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 50px 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &:hover {
      background-image:asset-url('kidsfriendly.jpeg');
      label {
        color: transparent;
      }
    }
  }
  fieldset {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
