// Bouton des plateformes

// Pour toutes les plateformes
.platforms {
  fieldset {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.platformbox {
  position: absolute;
  transform: scale(0);
}

.platformbox + label {
  display: block;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  &:hover {
    background-color: transparent;
    opacity: 1;
  }
}

.platformbox.platform-btn:checked + label {
  color: transparent;
  background-color: transparent;
  box-shadow: transparent;
}

// Plateforme Netflix
.platform-netflix:checked + label {
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  opacity: 1;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(229, 9, 20) !important;
}

label[for="search_platform_netflix"] {
  cursor: pointer;
  background-image: asset-url('netflix-white.png');
  background-size: 110px !important;
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

// Plateform Prime Video
.platform-prime-video:checked + label {
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  opacity: 1;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 168, 225) !important;
}

label[for="search_platform_prime_video"] {
  cursor: pointer;
  background-image: asset-url('prime-white.png');
  background-size: 110px !important;
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

// Plateform Apple TV
.platform-appletv:checked + label {
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  opacity: 1;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(64, 64, 64) !important;
}

label[for="search_platform_apple_tv"] {
  cursor: pointer;
  background-image: asset-url('atv.png');
  background-size: 110px !important;
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

// Plateforme Disney +
.platform-disney:checked + label {
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  opacity: 1;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(16, 28, 80) !important;
}

label[for="search_platform_disney_"] {
  cursor: pointer;
  background-image: asset-url('disney-white.png');
  background-size: 110px !important;
  color: transparent;
  width: 180px;
  height: 70px;
  margin: 11px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
