<div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='history'>
                <label class='btn-general' for="mood">Histoire</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='thriller'>
                <label class='btn-general' for="mood">Thriller</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='kids'>
                <label class='btn-general' for="mood">Kids</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='adventure'>
                <label class='btn-general' for="mood">Aventure</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='cocooning'>
                <label class='btn-general' for="mood">Cocooning</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='icecream'>
                <label class='btn-general' for="mood">Icecream</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
              <div class="mood-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='horror'>
                <label class='btn-general' for="mood">Horreur</label>
                <input class='hiddenbox' id="mood" type='checkbox'>
              </div>
