
.hiddenbox {
  position: absolute;
  transform: scale(0)
}

.hiddenbox:checked + label {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 25px;
  border-radius: 10px;
}

// Tous les boutons de la page
.btn-general {
  border: none;
  cursor: pointer;
  width: 210px;
  padding: 8px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  margin: 15px;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, #56AB91 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  // &.netflix {
  //   background-image: asset-url('');
  // }
  &:hover {
    color: white;
    transition-duration: 500ms;
    background-position: left bottom;
  }
}


// .text {
//   text-align: center;
//   font-size: 16px;
//   line-height: 30px;
//   color: black;
//   transition: all .6s ease-out;
//   display: block;
// }

// .text:hover {
//   color: white;
// }

// Uniquement les boutons questions suivantes et precedentes
@import 'pages/btn-pre-next';

// Uniquement les boutons plateforms
// @import 'pages/btn-platforms';
