.main-card {
  background-color: aquamarine;
  margin-bottom: 50px;
  padding: 100px;
  width: 800px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
