$card-home-color: linear-gradient(to bottom right, rgba(103, 185, 154, 1), rgba(86, 171, 145, 0));
$beer-party: linear-gradient(to bottom right, rgb(248, 219, 157), $background-beer-party);
$history: linear-gradient(to bottom right, rgba(249, 207, 161, 1), $background-history);
$thriller: linear-gradient(to bottom right, rgba(169, 170, 169, 1), $background-thriller);
$kids: linear-gradient(to bottom right, rgb(233, 184, 179), $background-kids);
$adventure: linear-gradient(to bottom right, rgb(201, 255, 139), $background-adventure);
$cocooning: linear-gradient(to bottom right, rgba(254, 162, 1, 1), $background-cocooning);
$icecream: linear-gradient(to bottom right, rgb(196, 212, 181), $background-icecream);
$horror: linear-gradient(to bottom right, rgb(150, 42, 27), $background-horror);

$shadow-beer-party: 0 4px 44px 2px rgba(150, 102, 30, 0.753);
$shadow-history: 0 4px 44px 2px rgba(128, 88, 56, 0.753);
$shadow-thriller: 0 4px 44px 2px rgba(51, 53, 51, 0.753);
$shadow-kids: 0 4px 44px 2px rgba(119, 124, 129, 0.753);
$shadow-adventure: 0 4px 44px 2px rgba(148, 131, 69, 0.753);
$shadow-cocooning: 0 4px 44px 2px rgba(143, 40, 8, 0.753);
$shadow-icecream: 0 4px 44px 2px rgba(110, 150, 140, 0.753);
$shadow-horror: 0 4px 44px 2px rgba(19, 7, 4, 0.753);

.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  height: 225px;
  width: 150px;
  position: relative;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;

  @media (max-width: 700px) {
    margin: 2px;
    height: 150px;
    width: 100px;
    margin: 1rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
  }
}

.card-description {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  color:#000000;
  border: 2px solid rgb(64, 255, 64);
  border-radius: 50%;
}

.rating {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);;
  width: 35px;
  height: 35px;
  color:#000000;
  border: 2px solid rgb(64, 255, 64);
  border-radius: 50%;
  text-align: center;
  line-height: 35px;

}



.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  color: #000000;
  cursor: pointer;
}

.bad-note {
    border: 2px solid rgb(249, 22, 22);

}


.movie-poster {
  height: 100%;
  background-size: cover;
  border-radius: 10px;

   /*height: 300px;  optional, you can remove it, but in my case it was good */
}

.showmovie {
  height: 600px;
  width: 400px;
  border-radius: 10px;
}

.modal-body {
  color: white;
  position: relative;
}

.modal-title {
  color: white;
}

.fond {
  background-color: rgba(0, 0, 0, 0.515);
  backdrop-filter: blur(20px);
  border-radius: 9px;
  &.beer-party{
    background-image: $beer-party;
    box-shadow: $shadow-beer-party;
  }
  &.history {
    background-image: $history;
    box-shadow: $shadow-history;
  }
  &.thriller {
    background-image: $thriller;
    box-shadow: $shadow-thriller;
  }
  &.kids {
    background-image: $kids;
    box-shadow: $shadow-kids;
  }
  &.adventure {
    background-image: $adventure;
    box-shadow: $shadow-adventure;
  }
  &.cocooning {
    background-image: $cocooning;
    box-shadow: $shadow-cocooning;
  }
  &.icecream {
    background-image: $icecream;
    box-shadow: $shadow-icecream;
  }
  &.horror {
    background-image: $horror;
    box-shadow: $shadow-horror;
  }
}


.modal-content {
  border-radius: 10px;
    @media (max-width: 700px) {
    min-height: 100%;
    height: auto;
    min-height: 100%;
    border-radius: 0;
    }
}

.prv {
  position: absolute;
  left: -75px;
  top: 300px;
  font-size: 50px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.nxt {
  position: absolute;
  right: -75px;
  top: 300px;
  font-size: 50px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.vodlink {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
.modal-dialog {
  @media (max-width: 700px) {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

}

.modal-body .showmovie {
  @media (max-width: 700px) {
    height: 225px;
    width: 150px;
  }

}
