.movie-card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  height: 225px;
  width: 150px;
  position: relative;
  border-radius: 10px;
  margin: 1rem;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-description {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  color:#000000;
  border: 2px solid rgb(64, 255, 64);
  border-radius: 50%;
}

.rating {
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);;
  width: 35px;
  height: 35px;
  color:#000000;
  border: 2px solid rgb(64, 255, 64);
  border-radius: 50%;
  text-align: center;
  line-height: 35px;

}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  color: #000000;
  cursor: pointer;
}

.bad-note {
    border: 2px solid rgb(249, 22, 22);

}


.movie-poster {
  height: 100%;
  background-size: cover;
  border-radius: 10px;
    h2 {
      padding-top: 40%;
      color:black;
    }
}

.poster-placeholder-modale {
  height: 600px;
  min-width: 400px;
  border-radius: 10px;
    h3 {
      padding-top: 40%;
      color:black;
    }
}

.showmovie {
  height: 600px;
  width: 400px;
  border-radius: 10px;
}

.modal-body {
  color: white;
  position: relative;
}

.modal-title {
  color: white;
}

.fond {
  background-color: rgba(0, 0, 0, 0.515);
  backdrop-filter: blur(20px);
  border-radius: 9px;
  &.beer-party{
    background-image: $beer-party;
    box-shadow: $shadow-beer-party;
  }
  &.history {
    background-image: $history;
    box-shadow: $shadow-history;
  }
  &.thriller {
    background-image: $thriller;
    box-shadow: $shadow-thriller;
  }
  &.kids {
    background-image: $kids;
    box-shadow: $shadow-kids;
  }
  &.adventure {
    background-image: $adventure;
    box-shadow: $shadow-adventure;
  }
  &.cocooning {
    background-image: $cocooning;
    box-shadow: $shadow-cocooning;
  }
  &.icecream {
    background-image: $icecream;
    box-shadow: $shadow-icecream;
  }
  &.horror {
    background-image: $horror;
    box-shadow: $shadow-horror;
  }
}


.modal-content {
  border-radius: 10px;
}

.prv {
  position: absolute;
  left: -75px;
  top: 300px;
  font-size: 50px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.nxt {
  position: absolute;
  right: -75px;
  top: 300px;
  font-size: 50px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.vodlink {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.modal-body .showmovie {
  @media (max-width: 700px) {
    height: 225px;
    width: 150px;
  }

}

#shuffle {
  color :rgb(255, 255, 255);
  background-size: 200% 100%;
  background-position: right bottom;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease 0s;
    &:hover {
    cursor: pointer;
    color: white;
    background: rgba(255, 255, 255, 0.6);
    transition: all ease 500ms;
    background-position: left bottom;
  }

}

  @media (hover:none) {
    #shuffle:hover {
      background: inherit;
    }
  }
